*.pyc
CMakeCache.txt
CMakeFiles/
install_manifest.txt
Makefile
cmake_install.cmake
libvariorum.a
libvariorum.so
src/docs/dox/Doxyfile
src/docs/sphinx/conf.py
src/docs/sphinx/index.rst
src/examples/ex-base
src/examples/ex-dump-counters
src/examples/ex-dump-package-frequency
src/examples/ex-dump-power
src/examples/ex-dump-power-limits
src/examples/ex-dump-thermals
src/examples/ex-print-features
src/examples/ex-print-counters
src/examples/ex-print-package-frequency
src/examples/ex-print-power
src/examples/ex-print-power-limits
src/examples/ex-print-thermals
src/examples/ex-print-topology
src/examples/ex-set-power-limits
src/variorum/variorum_config.h
