stages:
  - format
  - build

build-quartz-format:
 tags:
   - batch
   - quartz
 stage: format
 script:
   - wget https://sourceforge.net/projects/astyle/files/astyle/astyle%203.1/astyle_3.1_linux.tar.gz
   - tar -xf astyle_3.1_linux.tar.gz
   - cd astyle/build/gcc && make
   - export PATH="${PWD}/bin:${PATH}"
   - cd -
   - echo -e "PWD:" ${PWD}
   - ./scripts/gitlab/astyle-format.sh
   - err=$?
   - if [ $err -eq 0 ]; then exit 0; else echo -e "Astyle formatting needed!"; exit 1; fi

build-quartz:
 tags:
   - batch
   - quartz
 stage: build
 script:
   - export HOSTNAME=`hostname`
   - echo -e "Hostname:" ${HOSTNAME}
   - groups
   - mkdir build-gitlab-quartz && mkdir install-gitlab-quartz
   - cd build-gitlab-quartz
   - export HOST_CONFIG=`ls ../host-configs/quartz-*.cmake`
   - echo -e "HOST_CONFIG:" ${HOST_CONFIG}
   - echo -e "PWD:" ${PWD}
   - cmake -C ${HOST_CONFIG} -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=../install-gitlab-quartz ../src
   - make VERBOSE=1
   - make install
   - env CTEST_OUTPUT_ON_FAILURE=1 make test

build-lassen:
 tags:
   - batch
   - lassen
 stage: build
 script:
   - export HOSTNAME=`hostname`
   - echo -e "Hostname:" ${HOSTNAME}
   - groups
   - mkdir build-gitlab-lassen && mkdir install-gitlab-lassen
   - cd build-gitlab-lassen
   - export HOST_CONFIG=`ls ../host-configs/lassen-*.cmake`
   - echo -e "HOST_CONFIG:" ${HOST_CONFIG}
   - echo -e "PWD:" ${PWD}
   - cmake -C ${HOST_CONFIG} -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=../install-gitlab-lassen ../src
   - make VERBOSE=1
