sudo: true

language: c

compiler:
  - gcc

env:
  global:
  - COMPILER_CC=gcc
  - COMPILER_CXX=g++

include:
  - os: linux
    dist: trusty

jobs:
  include:
  - stage: build
    env:
      # we want to test both static and shared, w/ and w/o docs.
      - BUILD_SHARED_LIBS=ON
        BUILD_DOCS=ON
        BUILD_TESTS=OFF
        VARIORUM_LOG=ON
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script: ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=ON
        BUILD_DOCS=ON
        BUILD_TESTS=OFF
        VARIORUM_LOG=OFF
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=ON
        BUILD_DOCS=OFF
        BUILD_TESTS=OFF
        VARIORUM_LOG=ON
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=ON
        BUILD_DOCS=OFF
        BUILD_TESTS=OFF
        VARIORUM_LOG=OFF
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=OFF
        BUILD_DOCS=ON
        BUILD_TESTS=OFF
        VARIORUM_LOG=ON
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=OFF
        BUILD_DOCS=ON
        BUILD_TESTS=OFF
        VARIORUM_LOG=OFF
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=OFF
        BUILD_DOCS=OFF
        BUILD_TESTS=OFF
        VARIORUM_LOG=ON
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - env:
      - BUILD_SHARED_LIBS=OFF
        BUILD_DOCS=OFF
        BUILD_TESTS=OFF
        VARIORUM_LOG=OFF
        VARIORUM_WITH_INTEL=ON
        VARIORUM_WITH_IBM=OFF
        VARIORUM_WITH_NVIDIA=OFF
        VARIORUM_WITH_AMD=OFF
    install:
      # none
    before_script:
      - date
      - sudo apt-get install python-sphinx
    after_script:
      - date
    script:
      - ./scripts/travis/build.sh

  - stage: format
    script:
      - wget https://sourceforge.net/projects/astyle/files/astyle/astyle%203.1/astyle_3.1_linux.tar.gz
      - tar -xf astyle_3.1_linux.tar.gz
      - cd astyle/build/gcc && make
      - export PATH="${PWD}/bin:${PATH}"
      - cd -
      - echo -e "PWD:" ${PWD}
      - ./scripts/travis/astyle-format.sh
      - err=$?
      - if [ $err -eq 0 ]; then exit 0; else echo -e "Astyle formatting needed!"; exit 1; fi

notifications:
  email:
    recipients:
      - brink2@llnl.gov
    on_success: always
    on_failure: always
